/*
RESET
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* 
 GENERAL
 */

 body{
   font-family:'Open Sans', sans-serif;
}
ul{

   list-style-type: none;

}
li{
   display: inline-block;
}
a{
   display: inline-block;
   font-weight: 400;
   text-decoration: none;
   color: white;
   margin-left: 10px;
   margin-bottom: 15px;
}
.login-button{

 display: inline-block;
 text-align: center;
 white-space: nowrap;
 color: #000000;
 text-decoration: none;
 line-height: 1;
 font-weight: normal;
 font-size: 12px;
 background-color: #FFFFFF;
 border-radius: 30px;
 padding: 10px 14px;
 border: 0px solid #006FE6;
 cursor: pointer;
 margin-bottom: 15px;
}

 .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
 }

 /* DEBUG */

 /* 
 NAV BAR
 */
.debug header{
   display: flex;
   height: 70px;
   background-color: #255EE9;  
   justify-content: center;
   align-content: center;
}
.nav-container{
   display: flex;
   background-color: #255EE9;
   width: 1000px;
   height: 40px;
   align-items: center;
   margin-top: 25px;
   justify-content: space-between;
   
}

.logo{
   margin-left: 4px;
   line-height: 2.2em;
   width: 10%;
}
.login{
   line-height: 2.2em;
   width: 25%;
}

/*

FINE NAV BAR

*/

/* 

MAIN

*/

/* 

SECTION 1

*/
.my-row-1{
  background-image: url(../img/jumbo.png); 
  background-size: cover;
}
.h1-section-1{

   color: white;

}


.container-main-1{
   padding-top: 50px;
   width: 750px;
   height: 350px;
   margin: 0 auto;
   text-align: center;
}
.button-mac{
 margin-top: 10px;
 display: inline-block;
 text-align: center;
 white-space: nowrap;
 color: #000000;
 text-decoration: none;
 line-height: 1;
 font-weight: normal;
 font-size: 22px;
 background-color: #FFFFFF;
 border-radius: 30px;
 padding: 10px 14px;
 border: 0px solid #006FE6;
 cursor: pointer;

}

.discord-button{

 margin-top: 10px;
 display: inline-block;
 text-align: center;
 white-space: nowrap;
 color: white;
 text-decoration: none;
 line-height: 1;
 font-weight: normal;
 font-size: 22px;
 background-color: black;
 border-radius: 30px;
 padding: 10px 14px;
 border: 0px solid #006FE6;
 cursor: pointer;



}

/* 

FINE SECTION 1

*/


/* 

SECTION 2

*/


.my-row-2{

   background-color: #FFFFFF;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container-main-3{
   width: 20%;
   height: 450px;
   padding-right: 50px;
   padding-top: 60px;
}
.container-main-2{
   background-image: url(img\item1.svg);
   width: 45%;
   height: 450px;
}

.item-1{
   width: 550px;
   height: 550px;
   padding-bottom: 100px;

}

/* 

SECTION 3

*/

.my-row-3{

   background-color: #D3D3D3;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container-main-4{
   background-color: #D3D3D3;
   width: 20%;
   height: 450px;
   padding-top: 70px;
}
.container-main-5{
   background-image: url(img\item2.svg);
   width: 35%;
   height: 450px;
}
.item-2{

   width: 500px;
   height: 500px;
   padding-bottom: 90px;
   margin-left: 30px;
}

/* 

SECTION 4

*/

.my-row-4{

   background-color: #FFFFFF;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container-main-7{
   width: 20%;
   height: 450px;
   padding-top: 50px;
   
}
.container-main-6{
   width: 40%;
   height: 450px;
}

.item-3{
   width: 550px;
   height: 550px;
   padding-bottom: 100px;

}


/* 

SECTION 5

*/
.my-row-5{

   background-color: #D3D3D3;
   height: 900px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container-main-8{
   width: 80%;
   height: 700PX;
}

.h1-section-5{

   text-align: center;

}

.item-4{

   padding-left: 200px;

}

.p-section-5{

   text-align: center;

}
.button-mac-2{
   margin-top: 10px;
   margin-left: 500px;
   display: inline-block;
   text-align: center;
   white-space: nowrap;
   color: white;
   text-decoration: none;
   line-height: 1;
   font-weight: normal;
   font-size: 22px;
   background-color:#8EA1E1;
   border-radius: 30px;
   padding: 10px 14px;
   border: 0px solid #006FE6;
   cursor: pointer;
  
  }

  .stars{

   margin-left: 350px;


  }

/* 

SECTION 6

*/
.my-row-6{

   background-color: #222629;
   height: 550px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container-main-9{
   width: 20%;
   height: 400PX;
}

.container-main-10{
   width: 10%;
   height: 400PX;
}

.h1-section-6{

      color:#687CC4;
      padding-bottom: 20px;

}

.h4{

      color:#687CC4 ;
      padding-bottom: 20px;
}
.ita{
   width: 25px;
   height: 20px;
}
.p-section-6{
   color: white;
   display: inline-block
   

}
.social{

   color: #FFFFFF;
   font-size: 20px;

}

.section-6-li{
   display: flex;
   color: white;
   flex-direction: column;
}

/* 

FOOTER

*/

footer{

   background-color: #222629;
   display: flex;
   justify-content: center;
   margin-top: 2px;

}

.footer-container{
   display: flex;
   background-color: #222629;
   width: 1250px;
   height: 60px;
   align-items: center;
   margin-top: 15px;
   justify-content: space-between;
   
}
.logo-2{
   margin-left: 4px;
   line-height: 2.2em;
   width: 5%;
   text-align: center;
}
.button-footer{
   text-align: center;
   color: white;
   text-decoration: none;
   line-height: 1;
   font-size: 12px;
   background-color:#8EA1E1;
   border-radius: 30px;
   padding: 10px 14px;
   cursor: pointer;
   margin-bottom: 20px;
}